body {
    font-family: 'Rubik', sans-serif;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 18px;
    box-shadow: 0px 5px 45px 5px rgba(222, 228, 248, 0.6);
    position: relative;
}
.header__menu ul {
    display: flex;
    list-style-type: none;
    gap: 1vw;
    font-weight: 700;
}
.header__logo img {
    width: 150px;
    max-width: 150px;
}
.header__menu a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.header__advertising {
    display: flex;
    align-items: center;
}
.header__advertising_card {
    width: 332px;
    max-width: 332px;
}
.header__search {
    width: 40px;
    height: 40px;
    background-color: #FFCD2C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.header__search img {
    width: 17px;
    height: 17px;
    max-width: 17px;
}
.advertising-front-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/* выпадающее меню */
ul.dropdown-content {
    display: none;
}
.navbar {
    overflow: hidden;
}
.navbar a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
 .dropbtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: 'Rubik';
    font-weight: 700;
    margin: 0;
}
.navbar li:hover, .dropdown:hover .dropbtn {
    background-color: #ACACAC;
}
.dropbtn a {  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
  }
.dropdown:hover .dropdown-content {
    display: block;
  }
.advertising-front-page h2 {
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 28px;
    padding-top: 52px;  
}
h1 {
    font-size: 50px;
    font-weight: 700;
}
.top-posts h1 {
    padding-top: 48px;
    padding-bottom: 72px;
    text-align: center;
    max-width: 756px;
    margin: auto;
}
.top-posts__wrapper {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    flex-wrap: wrap;
}
.top-posts_item {
    width: 608px;
    height: 400px;
    position: relative;
    display: flex;
    align-items: flex-end;
}
.top-posts_item_img {
   position: absolute;
    z-index: -1;
    max-width: fit-content;
}
.top-posts_item_text {
    gap: 10px;
    display: flex;
    flex-direction: column;
    color:  #FFFFFF;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
}
.top-posts_text_subtitle {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}
.top-posts_text_title {
    font-size: 30px;
    font-weight: 700;
}
.top-posts_text_icon {
    font-size: 13px;
    display: flex;
    gap: 3em;
}
.top-posts_text_icon_eye {
    display: flex;
    align-items: center;
}
.top-posts_text_icon_chat {
    display: flex;
    align-items: center;
}
.top-posts_text_icon img {
    margin-right: 10px;
}
.latest_articles {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.latest_articles h1 {
    padding-top: 76px;
    padding-bottom: 61px;
    text-align: center;
}
.latest_articles_wrapper {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}
.latest_articles_item {
    width: 450px;
    min-height: 496px;
}   
.latest_articles_item_text {
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
    max-width: 450px;
} 
.latest_articles_text_subtitle {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: black;
}
.latest_articles_text_title {
    font-size: 24px;
    font-weight: 700;
    color: black;
}
.latest_articles_text_text {
    font-size: 17px;
    color: #3D434C;
    font-weight: 300;    
}
.latest_articles_text_subtitle_blue {
    background-color:  #438EFF;
    color: #FFFFFF;
    width: 80px;
    text-align: center;
}
.latest_articles_text_subtitle_green {
    color: #FFFFFF;
    width: 80px;
    text-align: center;
    background-color:#5FD990;
}
.latest_articles_item_wide {
    max-width: 924px;
    display: flex;
    align-items: flex-end;
    width: 100%;
}
.latest_articles_item_wide .latest_articles_item_text {
    max-width: 924px;
    margin-left: 48px;
    margin-bottom: 33px;
}
.latest_articles_item_wide .latest_articles_text_subtitle {
    color: #FFFFFF;
    width: 170px;    
}
.latest_articles_item_wide .latest_articles_text_title {
    color: #FFFFFF;
    width: 450px;   
}
.latest_articles_item_wide .latest_articles_text_text {
    color: #FFFFFF;
    max-width: 603px;
}
.button_show-more{
    padding-top: 16px;
    padding-bottom: 19px;
    padding-left: 74px;
    padding-right: 62px;
    text-align: center;
    color: #438EFF;
    border-width: 3px;
    border-style: solid;
    border-color: #438EFF;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 72px;
    margin-bottom: 70px;
}
.seasons_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.seasons_item {
    width: 25%;
    max-width: 480px;
    min-height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover; 
}
.seasons_item_title h1 {
    font-size: 35px;
    color: #FFFFFF;
    margin-left: 15px;    
}
 .seasons_item_title {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
    padding-left: 63px;
}
.seasons_item li a {
    color: #FFFFFF;   
}
.seasons_item ul  {
    list-style: disc;
    line-height: 30px;
    font-weight: 400;
    font-size: 16px;
    padding-left: 111px;    
}
.seasons_item ul li {
    list-style: disc;
    color: #FFFFFF;
}

.footer{
    background-color:  #34383E;
    display: flex;
    justify-content: space-around;
  
    padding-top: 70px;
    padding-bottom: 64px;
}
.footer_logo {
    max-width: 292px;
}
.footer_logo p {
    color: #A1AEC0;
    font-size: 15px;
    font-weight: 300;
}
.footer_about ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 142px;
    gap: 32px;
}
.footer_about p {
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 27px;
}
.footer_about a {
    color:  #A1AEC0;
    font-weight: 300;
    font-size: 17px;
}
.footer_join-us_wrapper {
    display: flex;
    margin-top: 28px;
    margin-bottom: 28px;
}
.footer_join-us_icon {
    background-color: #4C535E;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}
.footer_join-us p{ 
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}
p.footer_join-us_small-text{
    font-weight: 300;
    font-size: 17px;
    color: #A1AEC0;
}
.footer_logo img {
    margin-bottom: 40px;
}
.breadcrumb{
    padding-top: 45px;
    padding-bottom: 49px;   
}
ul.breadcrumb_crumb {
    padding: 10px 16px;
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    max-width: 1240px;
    margin: auto; 
}
ul.breadcrumb_crumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb_crumb li+li:before {
    padding: 8px;
    color: #6F757E;
    content: "»";
}
ul.breadcrumb_crumb li a {
    color: #6F757E;
    text-decoration: none;
}
/* Добавить цвет на наведении курсора мыши */
ul.breadcrumb_crumb li a:hover {
    color: black;
    text-decoration: underline;
}
.article_date {
    display: flex;
    gap: 10px;
    max-width: 1240px;
    padding-left: 16px;
    margin: auto;
}
.article_date p {
    color: #26BC62;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
}
.article_text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 13px;
    padding-bottom: 87px;
}
.article_text h1{
    max-width: 764px;
    font-weight: 700;
    font-size: 50px;
    color: #32363D;
}
.article_text p {
    max-width: 450px;
    font-weight: 400;
    font-size: 19px;
    line-height: 29px;
}
.table_of_contents img {
    width: 75%;
}
.table_of_contents {
    display: flex;
    align-items: center;
    background-color: #F9FAFD;;
}
.table_of_contents_text h2 {
    color: #32363D;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 41px;
}
.table_of_contents_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}
.table_of_contents_text ul li {
    list-style: disc;
    font-weight: 400;
    line-height: 30px;
}
.table_of_contents_text li::marker {
    color: #E9840E;
}
.table_of_contents_text a {
    color: #E9840E;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 93px;
    padding-bottom: 100px;
}
.content h1 {
    color: #32363D;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 38px;   
}
.content p {
    max-width: 1240px;
    font-weight: 300;
    font-size: 19px;
    Line-height: 30.4px;
}
.content img {
    padding-top: 50px; 
}
.content h2 {
    font-weight: 500;
    font-size: 35px;
    padding-top: 82px;
    color: #32363D;
}
.slider {
    display: flex;
    align-items: center;
    background-color: #F9FAFD;
    justify-content: space-between;
}
.slider h1 {
    max-width: 355px;
    margin: auto;
    color: #32363D;
    text-align: center;
}
.colortext {
    color: #E9840E;
}
.blockquote {
    max-width: 924px;
    border-left: 6px solid #26BC62;;
    font-size: 24px;
    font-weight: 400;
    line-height: 38.4px;
    font-style: italic;
    margin: 16px;
    padding-left: 24px;
    position: relative;
    margin: auto;
    margin-top: 68px;
    margin-bottom: 68px;
}
.blockquote p {
    padding-top: 0px;
    font-size: 24px;
    font-weight: 400;
}
.button_see {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 70px;
}
.button_see-all {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    color: #FFFFFF;
    border-width: 0px;
    border-style: solid;
    text-transform: uppercase;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 72px;
    margin-bottom: 70px;
    background-color: #26BC62;
}
.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.social-media_icon {
    max-width: 1240px;
    width: 100%;
    height: 130px;
    background-color: #EEF2FC;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social-media_icon p {
    font-size: 28px;
    font-weight: 500;
}
.social-media_icon_wrapper {
    display: flex;
    gap: 15px;
}
.social-media_icon_main{
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media_icon_main.content_social-media_vk {
    background-color: #44678D;
}
.social-media_icon_main.content_social-media_tg {
    background-color: #61A8DE;
}
.social-media_icon_main.content_social-media_wa {
    background-color: #1BD741;
}
.social-media_icon_main.content_social-media_v {
    background-color: #7D3DAF;
}
.social-media_icon_main.content_social-media_ok {
    background-color: #F0812C;
}
.social-media_icon_main.content_social-media_plus {
    background-color: #9FAFD4;
}
.latest_articles_wrapper.latest_articles_wrapper_padding {
    padding-bottom: 106px;
}
/* слайдер */
 .slider img {
    width: 100%;
}
.swiper {
    margin-left: 0;
    margin-right: 0;
    width: 70%;
}
.slider_column {
    position: relative;
    width: 30%;
}
.swiper-button-prev {
    right: 0;
    left: auto;
}
.swiper-button-next {
    left: 0;
}
.swiper-button-next, .swiper-button-prev {
    width: 56px;
    height: 56px;
    background-color: #000000;
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 18px;
    color: #FFFFFF;
}   
.breadcrumb.breadcrumb_rubric {
    background-color: #F9FAFD;
}
.content.content_rubric {
    padding-top: 0;
    background-color: #F9FAFD;
    margin-bottom: 24px; 
}
@media (max-width: 1800px) {
    .navbar a {
        padding: 14px 4px;
    }
}
@media (max-width: 1600px) {
    .navbar a {
        padding: 14px 1px;
    }
    .footer_about ul {
         gap: 10px;
    }
}
@media (max-width: 1550px) {
    .header__advertising_card {
        display: none;
    }
}
@media (max-width: 1280px) {
    .header__advertising_card {
       display: none;
    }
    .advertising-front-page h2 {
        font-size: 28px;
    }
    h1 {
        font-size: 38px;
    }
    .slider h1 {
        font-size: 28px;
    }
    .seasons_item_title h1 {
        font-size: 28px;
    }
    .top-posts_text_title {
        font-size: 26px;
    }
    .article_text h1 {
        font-size: 38px;
        padding-left: 15px;
    }
    .content h1 {
      font-size: 38px;
    }
    .content h2 {
       
        font-size: 28px;
    }
    .content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .article_text p {
        padding: 10px;
    }
}
@media (max-width: 1200px) {
    .navbar a {
            font-size: 13px;
    }
}
@media (max-width: 1100px) {
    .seasons_item_title {
        padding-left: 50px;
    }
    .seasons_item ul {
        padding-left: 95px;
    }
    .dropdown-content {
        min-width: 145px;
    }
}
@media (max-width: 1050px) {
    .dropdown-content {
        min-width: 130px;
    }
}
@media (max-width: 1024px) {
    .seasons_item {
        width: 50%;
    }
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
    .slider {
        display: flex;
        flex-direction: column;
    }
    .slider-right {
    display: flex;
    flex-direction: column-reverse;
    }
    .slider h1 {
    padding-bottom: 10px;
    padding-top: 10px;
    }
}
@media (max-width: 1005px) {
    .menu-main {
        display: flex;
        flex-direction: column;
        padding-top: 55px;
    } 
    .menu-main {
        display: flex;
        align-items: center;
    }
    header {
        display: flex;
        justify-content: flex-end;
    }
    .menu-btn {
        width: 30px;
        height: 30px;
        position: relative;
        z-index:3;
        overflow: hidden;
    }
    .menu-btn span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
    }
    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 6px);
    }
    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 6px);
    }
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        padding: 15px;
        background: #E5E5E5;
        transform: translateX(-100%);
        transition: transform 0.5s; 
        overflow-y: auto;
        z-index: 2;
    }
    .menu.active {
        transform: translateX(0);
    }
    .menu li {
        list-style-type: none;
    }
    /* Меняем гамбургер иконку, когда меню открыто */
    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }
    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
    }
    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
    }
    .noactive {
        overflow: hidden;
    }
    .top-posts_item_text {
        z-index: -1;
    }
    .dropdown-content {
        position: inherit;
    }
}
@media (max-width: 950px) {
    .table_of_contents img {
        width: 50%;
    }
    .table_of_contents {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .table_of_contents_text h2 {
        padding-bottom: 10px;
    }
    .footer {
        padding-right: 15px;
        padding-left: 15px;
        gap: 10px;
    }
    .footer_about ul {
        gap: 5px;
    }
    .top-posts_item_img {
        width: 100%;
    }
    .article_text {
        display: flex;
        flex-direction: column;
    }
    .article_text p {
        text-align: center;
    }
    .article_text h1 {
        text-align: center;
    }
}
@media (max-width: 768px) {
    .footer {
        display: flex;
        padding-top: 25px;
        padding-bottom: 25px;
        flex-direction: column;
        align-items: center;
    }
    .footer_logo img {
        margin-bottom: 10px;
    }
    .footer_logo {
        text-align: center;
    }
    .footer_about {
        text-align: center;
    }
    .footer_join-us {
        text-align: center;
    }
    .footer_join-us_wrapper {
        display: flex;
        justify-content: space-around;
    }
    .social-media_icon {
       display: flex;
        flex-direction: column;
    }
    .advertising-front-page h2 {
        font-size: 24px;
    }
    h1 {
        font-size: 27px;
    }
    .top-posts_text_title {
        font-size: 20px;
    }
    .latest_articles_text_title {
        font-size: 20px;
    }
    .table_of_contents_text h2 {
        padding-top: 15px;
    }
    .article_text h1 {
        font-size: 27px;
    }
    .content h1 {
         font-size: 27px;
    }
    .table_of_contents_text h2 {
        font-size: 24px;
    }
    .table_of_contents {
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
    }
    .table_of_contents img {
         width: 100%;
    }
    .latest_articles_item_wide {
           background-position: center;
    }
    .latest_articles_item_wide .latest_articles_item_text {
          margin-left: 5vw;
    } 
}
@media (max-width: 480px) {
    .top-posts h1 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .article_text {
        display: flex;
        flex-direction: column;
    }
    .button_show-more {
        margin-top: 20px;
        margin-bottom: 35px;
    }
    .content {
        padding-top: 40px;
        padding-bottom: 50px;
    }
}